/* yui reset.css version:2.5.2 */
html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}.clear{height:0;font-size:0;line-height:0;clear:both;}
/* end of reset.css */


body{font-size:0.75em;background:#fff;font-family:Verdana,Tahoma,Arial,Helvetica,sans-serif;text-align:center;color:#343434;}
a{text-decoration:none;color:#343434;}
a:hover{color:#8b5fc0;}


/*--from now--*/
.wrapper{width:990px;margin:0 auto;text-align:left;}
a{text-decoration:none;color:#343434;}
.orange,a.orange{color:orange;}
.green,a.green{color:green;}
.red,a.red{color:#cc0000;}
.blue,a.blue,code{font-size:1em;color:#0B79B5;font-family:verdana;}
.test,a.test{color:#8500b2;background:#ecc;padding:2px 8px;display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
a.test:hover{background:#fff;color:#000;}

h1{font-size:1.33em;text-align:center; margin:20px;color:#1b75be;}
h1 .strong{color:#cc0000;margin-left:3px;font-size:1.3em;}
.a-down{color:#ff6600;text-decoration:underline; }
.intro-box{border:1px solid #ccc;margin:10px 0;padding:15px;background:#f3f3f3;line-height:1.8em; }
.p-other{font-size:1.17em;margin:20px 0 10px; }
.p-author{font-size:1.17em;text-align:right;margin:0 10px 10px; }
.p-author a{color:#cc0000;text-decoration:underline; }
.p-author a:hover{text-decoration:none;}
.each-box{overflow:hidden;clear:both;padding:15px 0; }
.intro-area{float:left;margin-left:20px;display:inline;width:300px;line-height:1.7em; }
.h2-title{font-size:1.17em;padding:5px 0 10px;color:#cc0000;}

a.a-mail{color:#ff6600;text-decoration:underline;}
a.a-mail:hover{text-decoration:none;}





/* so-popbox */
.so-popbox .s-sopop-close,a.a-sopop-btn,span.s-sopop-btn{background:url(icon-sobox.png) no-repeat;}
.so-popConfirm .so-popbox-cont{background:url(icon-tip.png) no-repeat ;}
.so-openmask{position:fixed;_position:absolute;top:-2px;left:0px;width:100%;height:0px;background:#000;filter:alpha(opacity=40);opacity:0.4;Z-index:1100;}
.so-popbox{border:1px solid #777;background:#fff;text-align:left;z-index:1120;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;box-shadow:0px 0px 12px #666;-webkit-box-shadow:0px 0px 12px #666;-moz-box-shadow:0px 0px 12px #666;}
.h2-sopop{height:27px;line-height:26px;background:#f6f6f6;padding-left:15px;font-weight:bold;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;border-bottom:1px solid #dbdbdb;}
.h2-sopop-move{cursor:move;}
.so-popbox .s-sopop-close{position:absolute;top:2px;right:4px;width:25px;height:25px;background-position:-145px 0; text-indent:-999em; overflow:hidden; cursor:hand; cursor:pointer;}
.so-popbox .s-sopop-out-close{top:-12px;right:-12px;background-position:0 0;}
.so-popbox-cont{padding:15px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.p-so-popBtn{text-align:center;padding:5px 0 15px;}
.so-popAlert .so-popbox-cont{padding:15px 15px 10px 15px;}
.so-popConfirm .so-popbox-cont{padding:20px 20px 20px 85px;background-position:50px 16px;}
/*.so-popConfirm .so-popbox-cont{background-position:55px -484px;}*/
/*.so-popConfirm .so-popbox-cont{background-position:55px -984px;}*/
/*.so-popConfirm .so-popbox-cont{background-position:55px -1484px;}*/
.so-popTip-1{border:1px solid #f4b23f;background:#fff2c1;box-shadow:1px 1px 2px #bbb;-webkit-box-shadow:1px 1px 2px #bbb;-moz-box-shadow:1px 1px 2px #bbb;}
.so-popTip-1 .so-popbox-cont{padding:8px;}
.so-popTip-2{border:1px solid #ff812d;background:#ffffd0;color:#f00;}
.so-popAlert .p-so-popBtn{padding:5px 0 15px;}

a.a-sopop-btn{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;margin:0 3px;padding:0 0 0 15px;color:#fff;background-color:#ec5656;background-position:0 -40px;}
span.s-sopop-btn{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;background-position:100% -40px;height:25px;line-height:23px;padding:0 15px 0 0;}

a.a-sopop-cancel{background-position:0 -70px;color:#444;}
a.a-sopop-cancel span.s-sopop-btn{background-position:100% -70px;}

.so-loading,.so-ajaxLoading,.so-ajaxSucces{border:0px solid #fff;box-shadow:1px 1px 1px #666;-webkit-box-shadow:1px 1px 1px #666;-moz-box-shadow:1px 1px 1px #666;}
.so-loading .so-popbox-cont{padding:16px 20px;text-align:center;background:#111 url(../images/sobox/loading.gif) no-repeat center 50%;}
.so-loading .s-sopop-close,.so-ajaxLoading .s-sopop-close,.so-ajaxSuccess .s-sopop-close{display:none;}

.so-ajaxLoading .so-popbox-cont{padding:12px 0 12px 42px;background:#f6f6f6 url(../images/sobox/loading.gif) no-repeat 16px 54%;color:#0b67ac;}
.so-ajaxSuccess .so-popbox-cont{padding:12px 0 12px 42px;background:#f6f6f6 url(../images/sobox/icon-tip.png) no-repeat 16px -2488px;color:#177300;}

.so-popConfirm .so-popbox-cont,
.so-popWarning .so-popbox-cont{padding:30px 20px 15px 90px;background:url(../images/sobox/icon-tip.png) no-repeat 54px 26px;}/* 显示确认图标 */
.so-popHelp .so-popbox-cont{padding:20px 20px 20px 85px;background:url(../images/sobox/icon-tip.png) no-repeat 50px -484px;}/* 显示帮助图标 */
.so-popSuccess .so-popbox-cont{padding:20px 20px 20px 85px;background:url(../images/sobox/icon-tip.png) no-repeat 50px -984px;}/* 显示成功图标 */
.so-popError .so-popbox-cont{padding:30px 20px 15px 85px;background:url(../images/sobox/icon-tip.png) no-repeat 50px -1474px;}/* 显示错误图标 */



.so-overTip .s-sopop-close{top:-9px;left:25px;width:17px;height:9px;background-position:0 -101px;}



