/* yui reset.css version;2.5.2 */
html{color:#000;background:#fff;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#333;}.clear{height:0;font-size:0;line-height:0;clear:both;}
/* end of reset.css */

body{
font-size:0.75em;
background:#fff;
font-family:Verdana,Tahoma,"微软雅黑",Arial,Helvetica, sans-serif;
*font-family:"微软雅黑",Verdana, Tahoma,Arial,Helvetica, sans-serif;
text-align:center;
color:#343434;
text-align:justify;
text-justify:inter-ideograph;}
a{text-decoration:none;color:#343434;}
.ti2em{text-indent:2em;}
.red{color:#c00;}
.fs118{font-size:1.18em;}
.fw{font-weight:bold;}

/*--from now--*/

.wrapper{width:1000px;margin:0 auto;text-align:left;}

/* header */
.header{padding:1px 0 0;height:98px;}
.h1-siteInfo{width:1px;height:1px;color:#fff;font-size:0em;overflow:hidden;}
.a-logo{float:left;padding:25px 0 0;width:426px;height:47px;overflow:hidden;}
.s-contact{margin-top:30px;float:right;height:28px;line-height:25px;padding:0 0 0 30px;font-size:1.333em;background:url(../images/logo.png) no-repeat 0 -48px;color:#ff7f00;}

/* mainnav */
.mainnav{height:40px;background:#333;}
.ul-mainnav{overflow:hidden;zoom:1;}
.li-mainnav{float:left;}
a.a-mainnav{float:left;height:40px;line-height:40px;width:110px;text-align:center;color:#fff;font-size:1.333em;border-right:1px solid #555;}
a.a-mainnav:hover,a.a-now{background:#005aa9;border-right:1px solid #005aa9;}


/* footer */
.footer{padding:20px 0;background:#646464;line-height:2em;overflow:hidden;zoom:1;color:#c9c9c9;}
.v2{float:left;}
.footerInfo{float:left;padding-top:20px;}
.a-v2-ali,.s-v2-weixin{float:left;width:115px;height:115px;margin-right:20px;display:inline;background:url(../images/logo.png) no-repeat;text-indent:-999em;overflow:hidden;}
.a-v2-ali{background-position:-40px -100px;}
.s-v2-weixin{background-position:-160px -100px;}


.p-pageThumb{position:fixed;right:10px;top:50%;width:15px;height:150px;margin:-75px 0 0;text-align:center;}
.p-pageThumb span{display: -moz-inline-stack;display:inline-block;*display:inline;*zoom:1;width:10px;height:10px;border:1px solid #999;margin:4px 0;-moz-border-radius:15px;-webkit-border-radius:15px;border-radius:15px;cursor:hand;cursor:pointer;transition:all .6s ease 0s;}
.p-pageThumb span.now{width:10px;height:25px;border:1px solid #ff850d;}

#gpsIntroBox{position:relative;overflow:hidden;}
#pageScrollbox{position:relative;}
.page{position:relative;height:800px;text-align:left;overflow:hidden;}
.page-t2{color:#fff;}

.page h3{position:absolute;line-height:150px;width:750px;margin-left:-375px;font-size:48px;font-weight:normal;text-align:center;}
.page p{position:absolute;width:750px;margin-left:-375px;font-size:20px;line-height:2em;color:#777;}
.page-t2 p{color:#ccc;}
.page p.center{text-align:center;}


/* page1 */
#page1{background:#e7e8e9 url(../images/gps/bg-1.jpg) no-repeat center 0;}
#page1 h3{top:-150px;left:50%;}
#page1 p{top:-250px;left:50%;}
.s-i{position:absolute;width:72px;height:72px;left:50%;top:350px;margin-left:1200px;}
.s-i-1{background:url(../images/gps/1-c1.png) no-repeat;}
.s-i-2{background:url(../images/gps/1-c2.png) no-repeat;}
.s-i-3{background:url(../images/gps/1-c3.png) no-repeat;}
.s-i-4{background:url(../images/gps/1-c4.png) no-repeat;}

/* page2 */
#page2{background:#113e4f url(../images/gps/bg-21.jpg) no-repeat center 0;}
#page2 h3{top:120px;left:-100%;}
#page2 p{top:250px;left:200%;}
.page2-bg{position:absolute;top:0px;left:0px;right:0px;bottom:0px;background:url(../images/gps/bg-22.jpg) no-repeat center 0;display:none;}

/* page3 */
#page3{background:#f6eaf0;}
#page3 h3{top:250px;left:50%;filter:alpha(opacity=0);opacity:0.0;}
#page3 p{top:380px;left:50%;width:620px;padding-left:20px;filter:alpha(opacity=0);opacity:0.0;}
.s-p{position:absolute;top:240px;right:50%;}
.s-p-1{width:255px;height:608px;background:url(../images/gps/3-c1.png) no-repeat;margin-right:-1800px;}
.s-p-2{width:255px;height:608px;background:url(../images/gps/3-c2.png) no-repeat;margin-right:-1800px;}
.s-p-3{width:272px;height:608px;background:url(../images/gps/3-c3.png) no-repeat;margin-right:-1800px;}
.s-p-4{top:232px;width:312px;height:618px;background:url(../images/gps/3-c4.png) no-repeat;margin-right:-1800px;}


/* page4 */
#page4{background:#65354d;}
#page4 h3{top:80px;left:-100%;}
#page4 p{top:220px;left:200%;}
.s-p4{position:absolute;left:50%;top:1500px;width:984px;height:420px;margin:0 0 0 -432px;background:url(../images/gps/4-1.png) no-repeat ;}

/* page5 */
#page5{background:#f3eadc;}
#page5 h3{top:-150px;left:50%;}
#page5 p{top:285px;right:50%;margin-right:-1500px;width:500px;}
.s-s{position:absolute;top:210px;left:50%;}
.s-s-1{width:281px;height:502px;background:url(../images/gps/4-c1.png) no-repeat;margin-left:-1800px;}
.s-s-2{width:216px;height:502px;background:url(../images/gps/4-c2.png) no-repeat;margin-left:-1800px;}


/* page6 */
#page6{background:#4d6273;}
.a-test{position:absolute;width:153px;height:47px;top:50%;left:50%;margin-left:-77px;margin-top:-20px;background:url(../images/gps/6-1.png) no-repeat;text-indent:-999em;overflow:hidden;filter:alpha(opacity=0);opacity:0.0;}
.s-sys{position:absolute;width:260px;height:35px;top:50%;left:50%;margin-left:-130px;margin-top:-55px;background:url(../images/gps/6-2.png) no-repeat center;text-indent:-999em;overflow:hidden;filter:alpha(opacity=0);opacity:0.0;}